.thirty {
    background: url(../../img/menu.png);
    background-repeat: no-repeat;
    background-position: center 302px;
    background-color: #1b1b1b;
    padding-top: 101px;
    padding-bottom: 712px;
}

.thirty h2 {
    margin: 0;
}

.thirty__block {
    width: 607px;
    margin: 0 auto;
}

.thirty__block .title_xl {
    color: var(--color-white);
}

.thirty__block .title_xl, 
.thirty__block .caption {
    text-align: center;
}


